/*Quita el margin de las imagenes*/
body{
    margin: 0;
}

/*Adapta la imagen de la portada a cualquier resolucion*/
#portada{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: block;
}

/*Ubica el texto del indicador en el centro y se le da la propiedad de animacion */
#indicador_scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /*Hace que se centre exacto*/
    width: 490px;
    animation: parpadeo 0.5s infinite;
}

/*Como deberia de ser la animacion del indicador*/
@keyframes parpadeo{
    0% { opacity: 0.2; } /* Casi invisible */
    50% { opacity: 1; }   /*Visible */
    100% { opacity: 0.2; } /*Casi invisible */
}

/*Adapta la imagen de la pagina 2 a cualquier resolucion*/
#categorias{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: block;
}

/*Pone las carpetas alineadas una al lado de la otra y las ubica en el centro de la pagina 2*/
.carpetas_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 50px;
    width: fit-content;
    margin-top: -75vh;
    margin-left: 5%;
    z-index: 20; /*Para que las imagenes de las carpetas esten por encima de la imagen de fondo*/
}
/*El "width: fit-content;" es porque el gap no reducia el espacio entre las carpetas y se tuvo 
que forzar el contenedor para que sea muy pequeño y que el gap sea el que defina la distancia*/

#el_laboratorio{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: block;
}



